.navbar-brand {
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
}

.nav-item {
    font-weight: 400;
    font-family: 'Comfortaa', sans-serif;
}

.fa-solid {
    padding: 8px;
}

body {
    background-image: url('bg.png');
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
}

.logo {
    height: 32px;
    padding-bottom: 4px;
    padding-right: 8px;
}

.content {
    padding: 8px;
    margin: 2% 3%;
    border-radius: 0.75em;
    background-color: #ffffffcc;
    font-family: 'Nunito', sans-serif;
}