.navbar-brand {
    font-weight: 700;
    font-family: Comfortaa;
}

.nav-item {
    font-weight: 400;
    font-family: Comfortaa;
}

.fa-solid {
    padding: 8px;
}

body {
    font-family: Comfortaa;
    background-image: url('bg.png');
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
}

.logo {
    height: 32px;
    padding-bottom: 4px;
    padding-right: 8px;
}